.elementor-26 .elementor-element.elementor-element-1a85d25{--display:flex;--min-height:600px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overlay-opacity:0.9;--margin-top:-204px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-26 .elementor-element.elementor-element-1a85d25:not(.elementor-motion-effects-element-type-background), .elementor-26 .elementor-element.elementor-element-1a85d25 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2024/12/b9208a21cb3bdbb2abd11f6a320732a6-1.webp");background-position:0px 19%;background-repeat:no-repeat;background-size:cover;}.elementor-26 .elementor-element.elementor-element-1a85d25::before, .elementor-26 .elementor-element.elementor-element-1a85d25 > .elementor-background-video-container::before, .elementor-26 .elementor-element.elementor-element-1a85d25 > .e-con-inner > .elementor-background-video-container::before, .elementor-26 .elementor-element.elementor-element-1a85d25 > .elementor-background-slideshow::before, .elementor-26 .elementor-element.elementor-element-1a85d25 > .e-con-inner > .elementor-background-slideshow::before, .elementor-26 .elementor-element.elementor-element-1a85d25 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-color:#024655E5;--background-overlay:'';}.elementor-26 .elementor-element.elementor-element-dc4dad3{--display:flex;--justify-content:center;--gap:015px 0px;--row-gap:015px;--column-gap:0px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-26 .elementor-element.elementor-element-42ebe10 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-26 .elementor-element.elementor-element-42ebe10 .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:40px;font-weight:900;text-transform:uppercase;line-height:48px;color:var( --e-global-color-f53bb88 );}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-26 .elementor-element.elementor-element-edc5f0e{width:var( --container-widget-width, 63% );max-width:63%;--container-widget-width:63%;--container-widget-flex-grow:0;color:var( --e-global-color-f53bb88 );}.elementor-26 .elementor-element.elementor-element-9c8fb7f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:50px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-26 .elementor-element.elementor-element-9f21aed{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;border-style:none;--border-style:none;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-26 .elementor-element.elementor-element-0106350{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-26 .elementor-element.elementor-element-96a5c6d img{width:100%;height:350px;object-fit:cover;object-position:center center;}.elementor-26 .elementor-element.elementor-element-66ea04d{--display:flex;--justify-content:center;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:30px;--padding-bottom:30px;--padding-left:30px;--padding-right:30px;}.elementor-26 .elementor-element.elementor-element-0dc051f{text-align:left;}.elementor-26 .elementor-element.elementor-element-0dc051f .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:20px;font-weight:700;line-height:24px;color:#1B1A1A;}.elementor-26 .elementor-element.elementor-element-fa19be6{color:var( --e-global-color-fa3d595 );}.elementor-widget-divider{--divider-color:var( --e-global-color-secondary );}.elementor-widget-divider .elementor-divider__text{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-divider.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon{color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-secondary );}.elementor-26 .elementor-element.elementor-element-1e50389{--divider-border-style:solid;--divider-color:#DDDDDD;--divider-border-width:1px;}.elementor-26 .elementor-element.elementor-element-1e50389 .elementor-divider-separator{width:100%;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-26 .elementor-element.elementor-element-5622a5a .elementor-button{background-color:#61CE7000;font-family:"Asen Pro", Sans-serif;font-size:16px;font-weight:700;line-height:19.2px;fill:var( --e-global-color-11b5da1 );color:var( --e-global-color-11b5da1 );padding:0px 0px 0px 0px;}.elementor-26 .elementor-element.elementor-element-5622a5a .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-26 .elementor-element.elementor-element-a0b0d0b{--display:flex;--flex-direction:row-reverse;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap-reverse;--gap:0px 0px;--row-gap:0px;--column-gap:0px;border-style:none;--border-style:none;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-26 .elementor-element.elementor-element-fe12286{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-26 .elementor-element.elementor-element-1830dc8 img{width:100%;height:350px;object-fit:cover;object-position:center center;}.elementor-26 .elementor-element.elementor-element-f7a49c0{--display:flex;--justify-content:center;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:30px;--padding-bottom:30px;--padding-left:30px;--padding-right:30px;}.elementor-26 .elementor-element.elementor-element-b37b790{text-align:left;}.elementor-26 .elementor-element.elementor-element-b37b790 .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:20px;font-weight:700;line-height:24px;color:#1B1A1A;}.elementor-26 .elementor-element.elementor-element-6a138c5{color:var( --e-global-color-fa3d595 );}.elementor-26 .elementor-element.elementor-element-66895b7{--divider-border-style:solid;--divider-color:#DDDDDD;--divider-border-width:1px;}.elementor-26 .elementor-element.elementor-element-66895b7 .elementor-divider-separator{width:100%;}.elementor-26 .elementor-element.elementor-element-1f2f2e2 .elementor-button{background-color:#61CE7000;font-family:"Asen Pro", Sans-serif;font-size:16px;font-weight:700;line-height:19.2px;fill:var( --e-global-color-11b5da1 );color:var( --e-global-color-11b5da1 );padding:0px 0px 0px 0px;}.elementor-26 .elementor-element.elementor-element-1f2f2e2 .elementor-button-content-wrapper{flex-direction:row-reverse;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-26 .elementor-element.elementor-element-0106350{--width:50%;}.elementor-26 .elementor-element.elementor-element-66ea04d{--width:50%;}.elementor-26 .elementor-element.elementor-element-fe12286{--width:50%;}.elementor-26 .elementor-element.elementor-element-f7a49c0{--width:50%;}}@media(max-width:1024px){.elementor-26 .elementor-element.elementor-element-1a85d25:not(.elementor-motion-effects-element-type-background), .elementor-26 .elementor-element.elementor-element-1a85d25 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0%;}.elementor-26 .elementor-element.elementor-element-dc4dad3{--padding-top:1px;--padding-bottom:0px;--padding-left:15px;--padding-right:15px;}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-26 .elementor-element.elementor-element-9c8fb7f{--padding-top:50px;--padding-bottom:50px;--padding-left:015px;--padding-right:015px;}.elementor-26 .elementor-element.elementor-element-9f21aed{--gap:0px 30px;--row-gap:0px;--column-gap:30px;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-26 .elementor-element.elementor-element-96a5c6d img{height:500px;object-position:center center;}.elementor-26 .elementor-element.elementor-element-a0b0d0b{--gap:0px 30px;--row-gap:0px;--column-gap:30px;}.elementor-26 .elementor-element.elementor-element-1830dc8 img{height:500px;object-position:center center;}}@media(max-width:767px){.elementor-26 .elementor-element.elementor-element-1a85d25{--min-height:700px;--margin-top:-210px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-26 .elementor-element.elementor-element-1a85d25:not(.elementor-motion-effects-element-type-background), .elementor-26 .elementor-element.elementor-element-1a85d25 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:40% 0%;}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-26 .elementor-element.elementor-element-edc5f0e{width:100%;max-width:100%;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-26 .elementor-element.elementor-element-96a5c6d img{height:300px;}.elementor-26 .elementor-element.elementor-element-66ea04d{--padding-top:30px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-26 .elementor-element.elementor-element-a0b0d0b{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;}.elementor-26 .elementor-element.elementor-element-1830dc8 img{height:350px;}.elementor-26 .elementor-element.elementor-element-f7a49c0{--padding-top:30px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}}/* Start custom CSS for heading, class: .elementor-element-42ebe10 */.elementor-26 .elementor-element.elementor-element-42ebe10 .elementor-heading-title{
    position: relative;
}

.elementor-26 .elementor-element.elementor-element-42ebe10 .elementor-heading-title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -12px;
    background-image: url('../../2024/10/Vector-1-1.png');
    background-repeat: no-repeat;
    background-size: 90px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-5622a5a */.elementor-26 .elementor-element.elementor-element-5622a5a .elementor-button-icon svg {
    width: 1.2em;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1f2f2e2 */.elementor-26 .elementor-element.elementor-element-1f2f2e2 .elementor-button-icon svg {
    width: 1.2em;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Semibold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Black.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ThinItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-MediumItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-SemiboldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BlackItalic.woff') format('woff');
}
/* End Custom Fonts CSS */