.elementor-16 .elementor-element.elementor-element-eed8ee9{--display:flex;--min-height:700px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overlay-opacity:1;--margin-top:-204px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:190px;--padding-left:0px;--padding-right:0px;}.elementor-16 .elementor-element.elementor-element-eed8ee9:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-eed8ee9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2024/10/b3dd022d079e1bb99b3fed4b717b7834-min.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-16 .elementor-element.elementor-element-eed8ee9::before, .elementor-16 .elementor-element.elementor-element-eed8ee9 > .elementor-background-video-container::before, .elementor-16 .elementor-element.elementor-element-eed8ee9 > .e-con-inner > .elementor-background-video-container::before, .elementor-16 .elementor-element.elementor-element-eed8ee9 > .elementor-background-slideshow::before, .elementor-16 .elementor-element.elementor-element-eed8ee9 > .e-con-inner > .elementor-background-slideshow::before, .elementor-16 .elementor-element.elementor-element-eed8ee9 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-color:#0246554D;--background-overlay:'';}.elementor-16 .elementor-element.elementor-element-44eede9{--display:flex;--justify-content:center;--gap:015px 0px;--row-gap:015px;--column-gap:0px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-16 .elementor-element.elementor-element-9f9e2f6 .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:40px;font-weight:900;line-height:48px;color:var( --e-global-color-f53bb88 );}.elementor-16 .elementor-element.elementor-element-e4e9caf{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:80px;--padding-bottom:70px;--padding-left:0px;--padding-right:0px;}.elementor-16 .elementor-element.elementor-element-85664c0{--display:grid;--e-con-grid-template-columns:repeat(3, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-16 .elementor-element.elementor-element-ff5e533{--display:flex;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#DDDDDD;--border-color:#DDDDDD;--padding-top:8px;--padding-bottom:0px;--padding-left:8px;--padding-right:8px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-icon-box.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon{fill:var( --e-global-color-primary );color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon-box .elementor-icon-box-title{color:var( --e-global-color-primary );}.elementor-widget-icon-box .elementor-icon-box-title, .elementor-widget-icon-box .elementor-icon-box-title a{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-icon-box .elementor-icon-box-description{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-16 .elementor-element.elementor-element-a82e58f > .elementor-widget-container{margin:-60px 0px 0px 0px;}.elementor-16 .elementor-element.elementor-element-a82e58f{--icon-box-icon-margin:15px;}.elementor-16 .elementor-element.elementor-element-a82e58f .elementor-icon{font-size:35px;}.elementor-16 .elementor-element.elementor-element-a82e58f .elementor-icon-box-title{color:#19191A;}.elementor-16 .elementor-element.elementor-element-a82e58f .elementor-icon-box-title, .elementor-16 .elementor-element.elementor-element-a82e58f .elementor-icon-box-title a{font-family:"Asen Pro", Sans-serif;font-size:24px;font-weight:700;line-height:30px;}.elementor-16 .elementor-element.elementor-element-a82e58f .elementor-icon-box-description{color:#1B1A1A;font-family:"Asen Pro", Sans-serif;font-size:16px;font-weight:400;line-height:19.2px;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-16 .elementor-element.elementor-element-32b30f1 .elementor-button{background-color:#61CE7008;font-family:"Asen Pro", Sans-serif;font-weight:700;line-height:19.2px;fill:var( --e-global-color-d9a5b3c );color:var( --e-global-color-d9a5b3c );border-style:solid;border-width:1px 0px 0px 0px;border-color:#DDDDDD;border-radius:0px 0px 0px 0px;padding:016px 0103.31px 017px 0103.31px;}.elementor-16 .elementor-element.elementor-element-32b30f1 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-16 .elementor-element.elementor-element-32b30f1.elementor-element{--align-self:center;}.elementor-16 .elementor-element.elementor-element-32b30f1 .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-16 .elementor-element.elementor-element-32b30f1 .elementor-button:hover, .elementor-16 .elementor-element.elementor-element-32b30f1 .elementor-button:focus{color:var( --e-global-color-213f82d );}.elementor-16 .elementor-element.elementor-element-32b30f1 .elementor-button:hover svg, .elementor-16 .elementor-element.elementor-element-32b30f1 .elementor-button:focus svg{fill:var( --e-global-color-213f82d );}.elementor-16 .elementor-element.elementor-element-8047e0e{--display:flex;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#DDDDDD;--border-color:#DDDDDD;--padding-top:8px;--padding-bottom:0px;--padding-left:8px;--padding-right:8px;}.elementor-16 .elementor-element.elementor-element-fe9d56e > .elementor-widget-container{margin:-60px 0px 0px 0px;}.elementor-16 .elementor-element.elementor-element-fe9d56e{--icon-box-icon-margin:15px;}.elementor-16 .elementor-element.elementor-element-fe9d56e .elementor-icon{font-size:35px;}.elementor-16 .elementor-element.elementor-element-fe9d56e .elementor-icon-box-title{color:#19191A;}.elementor-16 .elementor-element.elementor-element-fe9d56e .elementor-icon-box-title, .elementor-16 .elementor-element.elementor-element-fe9d56e .elementor-icon-box-title a{font-family:"Asen Pro", Sans-serif;font-size:24px;font-weight:700;line-height:30px;}.elementor-16 .elementor-element.elementor-element-fe9d56e .elementor-icon-box-description{color:#1B1A1A;font-family:"Asen Pro", Sans-serif;font-size:16px;font-weight:400;line-height:19.2px;}.elementor-16 .elementor-element.elementor-element-fb4b7e1 .elementor-button{background-color:#61CE7008;font-family:"Asen Pro", Sans-serif;font-weight:700;line-height:19.2px;fill:var( --e-global-color-d9a5b3c );color:var( --e-global-color-d9a5b3c );border-style:solid;border-width:1px 0px 0px 0px;border-color:#DDDDDD;border-radius:0px 0px 0px 0px;padding:016px 0103.31px 017px 0103.31px;}.elementor-16 .elementor-element.elementor-element-fb4b7e1 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-16 .elementor-element.elementor-element-fb4b7e1.elementor-element{--align-self:center;}.elementor-16 .elementor-element.elementor-element-fb4b7e1 .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-16 .elementor-element.elementor-element-fb4b7e1 .elementor-button:hover, .elementor-16 .elementor-element.elementor-element-fb4b7e1 .elementor-button:focus{color:var( --e-global-color-213f82d );}.elementor-16 .elementor-element.elementor-element-fb4b7e1 .elementor-button:hover svg, .elementor-16 .elementor-element.elementor-element-fb4b7e1 .elementor-button:focus svg{fill:var( --e-global-color-213f82d );}.elementor-16 .elementor-element.elementor-element-c31efec{--display:flex;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#DDDDDD;--border-color:#DDDDDD;--padding-top:8px;--padding-bottom:0px;--padding-left:8px;--padding-right:8px;}.elementor-16 .elementor-element.elementor-element-9bce5a5 > .elementor-widget-container{margin:-60px 0px 0px 0px;}.elementor-16 .elementor-element.elementor-element-9bce5a5{--icon-box-icon-margin:15px;}.elementor-16 .elementor-element.elementor-element-9bce5a5 .elementor-icon{font-size:35px;}.elementor-16 .elementor-element.elementor-element-9bce5a5 .elementor-icon-box-title{color:#19191A;}.elementor-16 .elementor-element.elementor-element-9bce5a5 .elementor-icon-box-title, .elementor-16 .elementor-element.elementor-element-9bce5a5 .elementor-icon-box-title a{font-family:"Asen Pro", Sans-serif;font-size:24px;font-weight:700;line-height:30px;}.elementor-16 .elementor-element.elementor-element-9bce5a5 .elementor-icon-box-description{color:#1B1A1A;font-family:"Asen Pro", Sans-serif;font-size:16px;font-weight:400;line-height:19.2px;}.elementor-16 .elementor-element.elementor-element-3c5c8fa .elementor-button{background-color:#61CE7008;font-family:"Asen Pro", Sans-serif;font-weight:700;line-height:19.2px;fill:var( --e-global-color-d9a5b3c );color:var( --e-global-color-d9a5b3c );border-style:solid;border-width:1px 0px 0px 0px;border-color:#DDDDDD;border-radius:0px 0px 0px 0px;padding:016px 0103.31px 017px 0103.31px;}.elementor-16 .elementor-element.elementor-element-3c5c8fa > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-16 .elementor-element.elementor-element-3c5c8fa.elementor-element{--align-self:center;}.elementor-16 .elementor-element.elementor-element-3c5c8fa .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-16 .elementor-element.elementor-element-3c5c8fa .elementor-button:hover, .elementor-16 .elementor-element.elementor-element-3c5c8fa .elementor-button:focus{color:var( --e-global-color-213f82d );}.elementor-16 .elementor-element.elementor-element-3c5c8fa .elementor-button:hover svg, .elementor-16 .elementor-element.elementor-element-3c5c8fa .elementor-button:focus svg{fill:var( --e-global-color-213f82d );}@media(max-width:1024px){.elementor-16 .elementor-element.elementor-element-85664c0{--grid-auto-flow:row;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-icon-box .elementor-icon-box-description{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-16 .elementor-element.elementor-element-32b30f1.elementor-element{--align-self:center;}.elementor-16 .elementor-element.elementor-element-32b30f1 .elementor-button{padding:10px 30px 10px 30px;}.elementor-16 .elementor-element.elementor-element-fb4b7e1.elementor-element{--align-self:center;}.elementor-16 .elementor-element.elementor-element-fb4b7e1 .elementor-button{padding:10px 30px 10px 30px;}.elementor-16 .elementor-element.elementor-element-3c5c8fa.elementor-element{--align-self:center;}.elementor-16 .elementor-element.elementor-element-3c5c8fa .elementor-button{padding:10px 30px 10px 30px;}}@media(max-width:767px){.elementor-16 .elementor-element.elementor-element-85664c0{--e-con-grid-template-columns:repeat(1, 1fr);--grid-auto-flow:row;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-icon-box .elementor-icon-box-description{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}/* Start custom CSS for heading, class: .elementor-element-9f9e2f6 */.elementor-16 .elementor-element.elementor-element-9f9e2f6 .elementor-heading-title{
    position: relative;
}

.elementor-16 .elementor-element.elementor-element-9f9e2f6 .elementor-heading-title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 25%;
    left: 0;
    bottom: -20%;
    background-image: url('../../2024/10/Vector-1-1.png');
    background-repeat: no-repeat;
    background-size: 90px;
}/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-a82e58f */.elementor-16 .elementor-element.elementor-element-a82e58f .elementor-icon {
    background: #024655;
    border-radius: 50%;
    padding: 20px
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-32b30f1 */.elementor-16 .elementor-element.elementor-element-32b30f1 .elementor-button-icon svg{
    width: 1.5em;
}/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-fe9d56e */.elementor-16 .elementor-element.elementor-element-fe9d56e .elementor-icon {
    background: #024655;
    border-radius: 50%;
    padding: 20px
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-fb4b7e1 */.elementor-16 .elementor-element.elementor-element-fb4b7e1 .elementor-button-icon svg{
    width: 1.5em;
}/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-9bce5a5 */.elementor-16 .elementor-element.elementor-element-9bce5a5 .elementor-icon {
    background: #024655;
    border-radius: 50%;
    padding: 20px
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-3c5c8fa */.elementor-16 .elementor-element.elementor-element-3c5c8fa .elementor-button-icon svg{
    width: 1.5em;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Semibold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Black.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ThinItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-MediumItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-SemiboldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BlackItalic.woff') format('woff');
}
/* End Custom Fonts CSS */