.elementor-32 .elementor-element.elementor-element-b468a6c{--display:flex;--min-height:700px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overlay-opacity:1;--margin-top:-204px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:190px;--padding-left:0px;--padding-right:0px;}.elementor-32 .elementor-element.elementor-element-b468a6c:not(.elementor-motion-effects-element-type-background), .elementor-32 .elementor-element.elementor-element-b468a6c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2024/10/13f930088c55d84b2fced252f8c9e497-min.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-32 .elementor-element.elementor-element-b468a6c::before, .elementor-32 .elementor-element.elementor-element-b468a6c > .elementor-background-video-container::before, .elementor-32 .elementor-element.elementor-element-b468a6c > .e-con-inner > .elementor-background-video-container::before, .elementor-32 .elementor-element.elementor-element-b468a6c > .elementor-background-slideshow::before, .elementor-32 .elementor-element.elementor-element-b468a6c > .e-con-inner > .elementor-background-slideshow::before, .elementor-32 .elementor-element.elementor-element-b468a6c > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-color:#0246554D;--background-overlay:'';}.elementor-32 .elementor-element.elementor-element-7134954{--display:flex;--justify-content:center;--gap:015px 0px;--row-gap:015px;--column-gap:0px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-32 .elementor-element.elementor-element-13cce8b .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:40px;font-weight:900;text-transform:uppercase;line-height:48px;color:var( --e-global-color-f53bb88 );}.elementor-32 .elementor-element.elementor-element-57b0bfe{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--padding-top:70px;--padding-bottom:70px;--padding-left:0px;--padding-right:0px;}.elementor-widget-form .elementor-field-group > label, .elementor-widget-form .elementor-field-subgroup label{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group > label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-field-type-html{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-field-group .elementor-field{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-button{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-button[type="submit"]{background-color:var( --e-global-color-accent );}.elementor-widget-form .e-form__buttons__wrapper__button-previous{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-message{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .e-form__indicators__indicator, .elementor-widget-form .e-form__indicators__indicator__label{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form{--e-form-steps-indicator-inactive-primary-color:var( --e-global-color-text );--e-form-steps-indicator-active-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-completed-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-background-color:var( --e-global-color-text );--e-form-steps-indicator-progress-meter-color:var( --e-global-color-text );}.elementor-widget-form .e-form__indicators__indicator__progress__meter{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-32 .elementor-element.elementor-element-b10525d{width:var( --container-widget-width, 65% );max-width:65%;--container-widget-width:65%;--container-widget-flex-grow:0;--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:20px;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-20px;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group.recaptcha_v3-bottomleft, .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-32 .elementor-element.elementor-element-b10525d .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-32 .elementor-element.elementor-element-b10525d .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-32 .elementor-element.elementor-element-b10525d .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group > label, .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-subgroup label{color:#1B1A1A;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group > label{font-family:"Asen Pro", Sans-serif;font-size:16px;font-weight:600;line-height:19.2px;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-type-html{padding-bottom:0px;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group .elementor-field{color:#495057;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#E0F5EC;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group .elementor-select-wrapper select{background-color:#E0F5EC;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-button{font-family:"Asen Pro", Sans-serif;font-size:18px;font-weight:700;border-radius:0px 0px 0px 0px;padding:14px 12px 14px 12px;}.elementor-32 .elementor-element.elementor-element-b10525d .e-form__buttons__wrapper__button-next{background-color:#024655;color:#ffffff;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-button[type="submit"]{background-color:#024655;color:#ffffff;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-32 .elementor-element.elementor-element-b10525d .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-32 .elementor-element.elementor-element-b10525d .e-form__buttons__wrapper__button-next:hover{background-color:var( --e-global-color-213f82d );color:#ffffff;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-button[type="submit"]:hover{background-color:var( --e-global-color-213f82d );color:#ffffff;}.elementor-32 .elementor-element.elementor-element-b10525d .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-32 .elementor-element.elementor-element-b10525d .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-widget-form .elementor-field-group > label{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-field-type-html{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-message{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-32 .elementor-element.elementor-element-b10525d{--container-widget-width:75%;--container-widget-flex-grow:0;width:var( --container-widget-width, 75% );max-width:75%;}}@media(max-width:767px){.elementor-widget-form .elementor-field-group > label{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-field-type-html{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-form .elementor-message{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-32 .elementor-element.elementor-element-b10525d{--container-widget-width:90%;--container-widget-flex-grow:0;width:var( --container-widget-width, 90% );max-width:90%;}}/* Start custom CSS for form, class: .elementor-element-b10525d */.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-label{
    padding-bottom: 10px!important
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-type-radio .elementor-field-subgroup  {
    display: flex;
    
    
    justify-content: center;
    gap: 20px;

}

@media(max-width: 1024px) AND (min-width: 766px){
    .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-type-radio .elementor-field-subgroup {
    gap: 15px;
}
    
}

@media(max-width: 765px){
    .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-type-radio:nth-child(1) .elementor-field-subgroup .elementor-field-option{
        width: 50%!important;
        
        
    }
    
    .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-type-radio .elementor-field-subgroup {
    gap: 10px;
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group-field_4324fa0, .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group-field_9ff4ab7{
    padding-top: 50px!important;
}
    
    
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-labels-above .elementor-field-type-radio:nth-child(1) .elementor-field-subgroup{
    gap: 0;
    margin-bottom: 11px
}



.elementor-32 .elementor-element.elementor-element-b10525d .elementor-labels-above .elementor-field-type-radio:nth-child(2) .elementor-field-subgroup .elementor-field-option{
    width: 48.5%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    border: none;
    background: #E0F5EC;
    
    
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-option input[type="radio"]:checked:parent {
   
    background: red!important;
}


.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-type-radio .elementor-field-subgroup .elementor-field-option{
    width: 20%;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
    background: #E0F5EC;
    

    cursor: pointer;
}
.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-subgroup .elementor-field-option label{
    font-weight: 700;
    color: #1B1A1A;
}



.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-subgroup .elementor-field-option {
    flex-basis: auto;
}


.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-option {
    cursor: pointer; 
    display: flex;
    align-items: center;
}



.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-option input[type="radio"]:checked + label:before {
    background-color: green; 
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-option input[type="radio"]{
    display: none;
}






.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-option label {
    position: relative; 
    padding-left: auto; 
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-option label::before {
    content: ""; 
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    width: 0px; 
    height: 20px;  
    background: transparent;
    background-size: contain; 
    background-repeat: no-repeat;

}


.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-option input[type="radio"]:checked + label::before {
    background-image: url('../../2024/10/Vector-1.svg'); 
    width: 20px;
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-option input[type="radio"]:checked + label{
    padding-left: 25px;
}


.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group input, .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group textarea, .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group select {
    padding: 19px;
    
}



.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group-field_7d0c0fb{

    flex-wrap: nowrap!important;
    gap: 1px;
    margin-bottom: 40px!important
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group-field_7d0c0fb label{
        padding: 19px 15px!important;
        background: #E0F5EC;
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group-field_4324fa0, .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group-field_9ff4ab7{
    padding-top: 30px;
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-group-field_9ff4ab7{
    display: flex;
    justify-content: center;
    width: 7%;
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-col-40{
    width: 46.5%!important
}

.elementor-32 .elementor-element.elementor-element-b10525d .elementor-select-wrapper .select-caret-down-wrapper{
    font-size: 0!important
}

.elementor-32 .elementor-element.elementor-element-b10525d select{  
    background: url('../../2024/10/Vector-2.svg') no-repeat calc(100% - 50px) center; /* Custom icon */
    background-size: 15px;
    padding-right: 30px;}
    
   .elementor-32 .elementor-element.elementor-element-b10525d .elementor-field-type-text input::placeholder{
       color: #495057;
       font-size: 15px;
       line-height: 18px;
       font-weight: 300;
   }/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Semibold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Black.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ThinItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-MediumItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-SemiboldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BlackItalic.woff') format('woff');
}
/* End Custom Fonts CSS */