.elementor-3454 .elementor-element.elementor-element-2dd5f35{--display:flex;--min-height:700px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overlay-opacity:1;--margin-top:-220px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:190px;--padding-left:0px;--padding-right:0px;}.elementor-3454 .elementor-element.elementor-element-2dd5f35:not(.elementor-motion-effects-element-type-background), .elementor-3454 .elementor-element.elementor-element-2dd5f35 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2024/10/7cdf8cd0cfda0bee2e8344c1a7efc4bb-1-min-1.jpg");background-position:0px -5%;background-repeat:no-repeat;background-size:100% auto;}.elementor-3454 .elementor-element.elementor-element-2dd5f35::before, .elementor-3454 .elementor-element.elementor-element-2dd5f35 > .elementor-background-video-container::before, .elementor-3454 .elementor-element.elementor-element-2dd5f35 > .e-con-inner > .elementor-background-video-container::before, .elementor-3454 .elementor-element.elementor-element-2dd5f35 > .elementor-background-slideshow::before, .elementor-3454 .elementor-element.elementor-element-2dd5f35 > .e-con-inner > .elementor-background-slideshow::before, .elementor-3454 .elementor-element.elementor-element-2dd5f35 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-color:#0246554D;--background-overlay:'';}.elementor-3454 .elementor-element.elementor-element-83d3f0d{--display:flex;--justify-content:center;--gap:015px 0px;--row-gap:015px;--column-gap:0px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-3454 .elementor-element.elementor-element-d6b6a2f > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-3454 .elementor-element.elementor-element-d6b6a2f .elementor-heading-title{font-family:"hand_of_sean", Sans-serif;font-size:20px;font-weight:500;line-height:23.01px;color:var( --e-global-color-f53bb88 );}.elementor-3454 .elementor-element.elementor-element-360d356{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 50px;--row-gap:0px;--column-gap:50px;--padding-top:70px;--padding-bottom:70px;--padding-left:0px;--padding-right:0px;}.elementor-3454 .elementor-element.elementor-element-7f67156{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-loop-grid .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-loop-grid .elementor-pagination{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-loop-grid .e-load-more-message{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-3454 .elementor-element.elementor-element-61ce16d{--grid-columns:1;--load-more-button-align:center;}.elementor-3454 .elementor-element.elementor-element-61ce16d .elementor-button{border-radius:0px 0px 0px 0px;}.elementor-3454 .elementor-element.elementor-element-6ad3791{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:30px;--padding-left:0px;--padding-right:0px;}.elementor-3454 .elementor-element.elementor-element-fb9d7fc > .elementor-widget-container{background-color:var( --e-global-color-d9a5b3c );margin:0px 0px 0px 0px;padding:10px 0px 10px 0px;}.elementor-3454 .elementor-element.elementor-element-fb9d7fc{text-align:center;}.elementor-3454 .elementor-element.elementor-element-fb9d7fc .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:16px;font-weight:700;line-height:19.2px;color:var( --e-global-color-f53bb88 );}.elementor-3454 .elementor-element.elementor-element-9eae241{--display:flex;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#00000020;--border-color:#00000020;--margin-top:05px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:15px;--padding-bottom:15px;--padding-left:15px;--padding-right:15px;}.elementor-3454 .elementor-element.elementor-element-3262a29 > .elementor-widget-container{background-color:#336767;padding:10px 0px 10px 0px;}.elementor-3454 .elementor-element.elementor-element-3262a29{text-align:center;}.elementor-3454 .elementor-element.elementor-element-3262a29 .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:16px;font-weight:700;line-height:19.2px;color:var( --e-global-color-f53bb88 );}.elementor-3454 .elementor-element.elementor-element-12d6318{--display:flex;--margin-top:05px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:05px;--padding-bottom:05px;--padding-left:05px;--padding-right:05px;}.elementor-3454 .elementor-element.elementor-element-12d6318:not(.elementor-motion-effects-element-type-background), .elementor-3454 .elementor-element.elementor-element-12d6318 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#336767;}.elementor-3454 .elementor-element.elementor-element-bfba173{--grid-template-columns:repeat(0, auto);--icon-size:40px;--grid-column-gap:0px;--grid-row-gap:0px;}.elementor-3454 .elementor-element.elementor-element-bfba173 .elementor-widget-container{text-align:center;}.elementor-3454 .elementor-element.elementor-element-bfba173 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3454 .elementor-element.elementor-element-bfba173.elementor-element{--align-self:center;}.elementor-3454 .elementor-element.elementor-element-bfba173 .elementor-social-icon{background-color:#6EC1E400;}.elementor-3454 .elementor-element.elementor-element-bfba173 .elementor-social-icon i{color:#FFFFFF0D;}.elementor-3454 .elementor-element.elementor-element-bfba173 .elementor-social-icon svg{fill:#FFFFFF0D;}@media(max-width:1024px){.elementor-3454 .elementor-element.elementor-element-2dd5f35{--min-height:500px;--padding-top:0px;--padding-bottom:120px;--padding-left:10px;--padding-right:10px;}.elementor-3454 .elementor-element.elementor-element-2dd5f35:not(.elementor-motion-effects-element-type-background), .elementor-3454 .elementor-element.elementor-element-2dd5f35 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0%;}.elementor-3454 .elementor-element.elementor-element-83d3f0d{--justify-content:flex-end;}.elementor-3454 .elementor-element.elementor-element-360d356{--gap:20px 20px;--row-gap:20px;--column-gap:20px;--padding-top:50px;--padding-bottom:50px;--padding-left:015px;--padding-right:015px;}.elementor-3454 .elementor-element.elementor-element-61ce16d{--grid-columns:1;}.elementor-3454 .elementor-element.elementor-element-9eae241{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3454 .elementor-element.elementor-element-bfba173{--icon-size:36px;--grid-column-gap:0px;--grid-row-gap:0px;}}@media(max-width:767px){.elementor-3454 .elementor-element.elementor-element-2dd5f35{--min-height:700px;--margin-top:-205px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-3454 .elementor-element.elementor-element-2dd5f35:not(.elementor-motion-effects-element-type-background), .elementor-3454 .elementor-element.elementor-element-2dd5f35 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:bottom center;background-size:cover;}.elementor-3454 .elementor-element.elementor-element-360d356{--padding-top:40px;--padding-bottom:40px;--padding-left:015px;--padding-right:015px;}.elementor-3454 .elementor-element.elementor-element-61ce16d{--grid-columns:1;}.elementor-3454 .elementor-element.elementor-element-6ad3791{--padding-top:30px;--padding-bottom:30px;--padding-left:0px;--padding-right:0px;}}@media(min-width:768px){.elementor-3454 .elementor-element.elementor-element-6ad3791{--width:35%;}}@media(max-width:1024px) and (min-width:768px){.elementor-3454 .elementor-element.elementor-element-6ad3791{--width:45%;}}/* Start custom CSS for heading, class: .elementor-element-d6b6a2f */.elementor-3454 .elementor-element.elementor-element-d6b6a2f .elementor-heading-title{
    position: relative;
}

.elementor-3454 .elementor-element.elementor-element-d6b6a2f .elementor-heading-title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    top: 22px;
    background-image: url('../../2024/10/Vector-1-1.png');
    background-repeat: no-repeat;
    background-size: 90px;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-bfba173 */.elementor-3454 .elementor-element.elementor-element-bfba173 .elementor-grid .elementor-grid-item {
    width: 60px;
}
.elementor-3454 .elementor-element.elementor-element-bfba173 .elementor-social-icon{
    height: fit-content
}
@media(max-width: 768px){
    .elementor-3454 .elementor-element.elementor-element-bfba173 .elementor-grid .elementor-grid-item {
    width: 45px;
}

.elementor-3454 .elementor-element.elementor-element-bfba173 > .elementor-widget-container {
    padding-right: 20px;
}
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'hand_of_sean';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/Hand_Of_Sean_Demo.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Semibold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Black.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ThinItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-MediumItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-SemiboldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BlackItalic.woff') format('woff');
}
/* End Custom Fonts CSS */