.elementor-2257 .elementor-element.elementor-element-1a9cfe6{--display:flex;--min-height:900px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overlay-opacity:0;--margin-top:-204px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:90px;--padding-left:0px;--padding-right:0px;}.elementor-2257 .elementor-element.elementor-element-1a9cfe6:not(.elementor-motion-effects-element-type-background), .elementor-2257 .elementor-element.elementor-element-1a9cfe6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2025/01/Mrs_Jannete_Kagame.jpg");background-position:top center;background-repeat:no-repeat;background-size:100% auto;}.elementor-2257 .elementor-element.elementor-element-1a9cfe6::before, .elementor-2257 .elementor-element.elementor-element-1a9cfe6 > .elementor-background-video-container::before, .elementor-2257 .elementor-element.elementor-element-1a9cfe6 > .e-con-inner > .elementor-background-video-container::before, .elementor-2257 .elementor-element.elementor-element-1a9cfe6 > .elementor-background-slideshow::before, .elementor-2257 .elementor-element.elementor-element-1a9cfe6 > .e-con-inner > .elementor-background-slideshow::before, .elementor-2257 .elementor-element.elementor-element-1a9cfe6 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-color:#0246554D;--background-overlay:'';}.elementor-2257 .elementor-element.elementor-element-9dfa451{--display:flex;--justify-content:center;--gap:015px 0px;--row-gap:015px;--column-gap:0px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-2257 .elementor-element.elementor-element-b303386 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-2257 .elementor-element.elementor-element-b303386 .elementor-heading-title{font-family:"hand_of_sean", Sans-serif;font-size:20px;font-weight:500;line-height:23.01px;color:var( --e-global-color-f53bb88 );}.elementor-2257 .elementor-element.elementor-element-3e4d922 .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:40px;font-weight:900;text-transform:uppercase;line-height:48px;color:var( --e-global-color-f53bb88 );}.elementor-2257 .elementor-element.elementor-element-2b90854{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 25px;--row-gap:0px;--column-gap:25px;--padding-top:20px;--padding-bottom:20px;--padding-left:0px;--padding-right:0px;}.elementor-2257 .elementor-element.elementor-element-2b90854:not(.elementor-motion-effects-element-type-background), .elementor-2257 .elementor-element.elementor-element-2b90854 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#336767;}.elementor-widget-mega-menu > .elementor-widget-container > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title, .elementor-widget-mega-menu > .elementor-widget-container > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title > .e-n-menu-title-container, .elementor-widget-mega-menu > .elementor-widget-container > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title > .e-n-menu-title-container > span{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-mega-menu{--n-menu-divider-color:var( --e-global-color-text );}.elementor-2257 .elementor-element.elementor-element-bb58e72{--display:flex;}.elementor-2257 .elementor-element.elementor-element-59b5dfc{--display:flex;}.elementor-2257 .elementor-element.elementor-element-2d0dc19{--display:flex;}.elementor-2257 .elementor-element.elementor-element-0347553{--n-menu-dropdown-content-max-width:full;--n-menu-heading-justify-content:center;--n-menu-title-flex-grow:initial;--n-menu-title-justify-content:initial;--n-menu-title-justify-content-mobile:center;--n-menu-heading-wrap:wrap;--n-menu-heading-overflow-x:initial;--n-menu-title-distance-from-content:0px;--n-menu-toggle-icon-wrapper-animation-duration:500ms;--n-menu-title-font-size:16px;--n-menu-title-color-normal:var( --e-global-color-f53bb88 );--n-menu-title-transition:300ms;--n-menu-icon-size:16px;--n-menu-toggle-icon-size:20px;--n-menu-toggle-icon-hover-duration:500ms;--n-menu-toggle-icon-distance-from-dropdown:0px;}.elementor-2257 .elementor-element.elementor-element-0347553 > .elementor-widget-container > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title, .elementor-2257 .elementor-element.elementor-element-0347553 > .elementor-widget-container > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title > .e-n-menu-title-container, .elementor-2257 .elementor-element.elementor-element-0347553 > .elementor-widget-container > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title > .e-n-menu-title-container > span{font-family:"Asen Pro", Sans-serif;font-weight:700;text-transform:uppercase;}.elementor-2257 .elementor-element.elementor-element-0347553 {--n-menu-title-color-hover:#22A84A;}.elementor-2257 .elementor-element.elementor-element-0347553 > .elementor-widget-container > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title:hover:not( .e-current ){border-style:none;}.elementor-2257 .elementor-element.elementor-element-c8416bc{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:80px;--padding-bottom:70px;--padding-left:0px;--padding-right:0px;}.elementor-2257 .elementor-element.elementor-element-e74d6a2 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-2257 .elementor-element.elementor-element-e74d6a2.elementor-element{--align-self:center;}.elementor-2257 .elementor-element.elementor-element-e74d6a2{text-align:center;}.elementor-2257 .elementor-element.elementor-element-e74d6a2 .elementor-heading-title{font-family:"Asen Pro", Sans-serif;font-size:32px;font-weight:800;text-transform:uppercase;line-height:38.4px;color:var( --e-global-color-d9a5b3c );}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-2257 .elementor-element.elementor-element-1198abe{width:var( --container-widget-width, 70% );max-width:70%;--container-widget-width:70%;--container-widget-flex-grow:0;text-align:justify;color:#1B1A1A;}.elementor-2257 .elementor-element.elementor-element-1198abe > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-2257 .elementor-element.elementor-element-1198abe.elementor-element{--align-self:center;}@media(max-width:1024px){.elementor-2257 .elementor-element.elementor-element-1a9cfe6{--min-height:700px;--overlay-opacity:0;--padding-top:0px;--padding-bottom:80px;--padding-left:15px;--padding-right:0px;}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}@media(max-width:767px){.elementor-2257 .elementor-element.elementor-element-1a9cfe6{--min-height:80vh;--overlay-opacity:0;--margin-top:-135px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:75px;--padding-left:015px;--padding-right:015px;}.elementor-2257 .elementor-element.elementor-element-1a9cfe6:not(.elementor-motion-effects-element-type-background), .elementor-2257 .elementor-element.elementor-element-1a9cfe6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:60% -7%;background-size:cover;}.elementor-2257 .elementor-element.elementor-element-3e4d922 .elementor-heading-title{font-size:30px;line-height:34px;}.elementor-2257 .elementor-element.elementor-element-e74d6a2 .elementor-heading-title{font-size:30px;}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-2257 .elementor-element.elementor-element-1198abe{--container-widget-width:90%;--container-widget-flex-grow:0;width:var( --container-widget-width, 90% );max-width:90%;}}/* Start custom CSS for heading, class: .elementor-element-b303386 */.elementor-2257 .elementor-element.elementor-element-b303386 .elementor-heading-title{
    position: relative;
}

.elementor-2257 .elementor-element.elementor-element-b303386 .elementor-heading-title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    top: 22px;
    background-image: url('../../2024/10/Vector-1-1.png');
    background-repeat: no-repeat;
    background-size: 90px;
}/* End custom CSS */
/* Start custom CSS for mega-menu, class: .elementor-element-0347553 */.elementor-2257 .elementor-element.elementor-element-0347553 .e-n-menu-title:hover .e-n-menu-title-text{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    
}

@media(min-width: 768px){
    .elementor-2257 .elementor-element.elementor-element-0347553 .e-n-menu-heading{
    justify-content: center;
    gap: 140px;
}
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-e74d6a2 */.elementor-2257 .elementor-element.elementor-element-e74d6a2 .elementor-heading-title{
    position: relative;
}

.elementor-2257 .elementor-element.elementor-element-e74d6a2 .elementor-heading-title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 45px;
    top: 40px;
    background-image: url('../../2024/10/Vector-1-1.png');
    background-repeat: no-repeat;
    background-size: 90px;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'hand_of_sean';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/Hand_Of_Sean_Demo.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Semibold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-Black.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ThinItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraLightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/10/AsenPro-LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/10/AsenPro-MediumItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/10/AsenPro-SemiboldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/10/AsenPro-ExtraBoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Asen Pro';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/10/AsenPro-BlackItalic.woff') format('woff');
}
/* End Custom Fonts CSS */